@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300&display=swap');
body {
  margin: 100px;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
}
fieldset {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 1.5rem;
  width: 400px;
  padding: 20px;
  border: 0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius: 5px;
}
legend {
  font-family: 'Audiowide', cursive;
  font-size: 2rem;color: #F4BC1C;
}


*, *:before, *:after {
  box-sizing: border-box;
}
p {
  color: #F4BC1C;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin-bottom: 5px;
  font-weight: none;
}

/* Handles all the text and password inputs */
input[type=text], input[type=password] {
  padding: 10px;
  margin: 10px 0;
  border: 0;
  border-bottom: 1px solid #F4BC1C;
}
input[type=text]:focus, input[type=password]:focus, input[type=button]:focus {
  outline: none;
}

/* Handles the checkboxes and radio buttons */
input[type=checkbox], input[type=radio] {
  padding: 10px;
  margin: 10px 0;
}

/* Handles the button */
input[type=button] {
  font-size: 1rem;
  padding: 10px;
  margin-top: 20px;
  background-color: white;
  border: 2px solid #F4BC1C;
  border-radius: 5px;
  transition-duration: 0.5s;
}
input[type=button]:hover {
  color: white;
  cursor: pointer;
  background-color: #F4BC1C;
}
label {
  padding-right: 10px;
}


@media only screen and (max-width: 700px) {
  body {
    margin: 0px;
  }
  form {
    
  }
}
