/* for labels */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 380px;
  overflow: hidden;
  border-radius: 5px;
  border: 2px solid #eee;
  -webkit-box-shadow: 0px 0px 6px 2px rgba(177,181,186,1);
  -moz-box-shadow: 0px 0px 6px 2px rgba(177,181,186,1);
  box-shadow: 0px 0px 6px 2px rgba(177,181,186,1);
}

.header {
  padding: 20px 20px;
}

.header h1 {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
}

.form {
  margin: 10px;
  margin-bottom: 20px;
}

.form-control {
  margin: 10px;
  position: relative;
}

.form-control small, i {
  font-size: 0.7rem;
  visibility: hidden;
  transition: 0.8s;
}

.form-control i {
  position: absolute;
  font-size: 0.7rem;
  top: 14px;
  right: 10px;
}

.form-control input {
  display: block;
  border: 0px;
  border-bottom: 1px solid #F4BC1C;
  width: 100%;
  padding: 10px 0px;
}

.form-control input:focus {
  outline: none;
}

.form-control.success input {
  border-bottom-color: #82D305;
}

.form-control.failure input {
  border-bottom-color: #D61A3C;
}

.form-control.success i.right {
  color: #82D305;
  visibility: visible;
  transition-timing-function: ease;
}

.form-control.failure i.wrong {
  color: #D61A3C;
  visibility: visible;
  transition-timing-function: ease;
}

.form-control.success small {
  color: #82D305;
}

.form-control.failure small {
  color: #D61A3C;
  visibility: visible;
  transition-timing-function: ease;
}

button {
  border: 1px solid #F4BC1C;
  background-color: #FFE338;
  border-radius: 4px;
  padding: 5px 10px;
  width: 100%;
  transition: 0.8s;
}

button:hover {
  cursor: pointer;
  background-color: #F4BC1C;
}

button:focus {
  outline: none;
}


@media only screen and (max-width: 700px) {
  body {
    margin: 0px;
    font-size: 1.5rem;
  }
  .form-control input {
    font-size: 1.1rem;
  }
  .material-icons {
    font-size: 1.1rem;
  }
  button {
    font-size: 1.3rem;
  }
}
